#project_banner a{
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

 /* wrapper box and overlay classes are the animations for hovering and making a color appear  */
.wrapper{
  position: relative;
  width: 425px;
  height: 100px;
}

.box{
  position: absolute;
  width: 100%;
  height: 100%;
}
.overlay{
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 100%;
  /* background: hsla(335, 98%, 51%, 0.74); */
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  background: #03001e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.overlayTwo {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 100%;
  /* background: hsla(235, 100%, 28%, 0.9); */
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  background: #ff00cc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.overlay:hover, .overlayTwo:hover {
  opacity: 0.8;
}

#project_banner a#projectOne{
  display: block;
  width:100%;
  height:100%;
  background-image:url(../../scenes/Home/CageShopper.png);
}

#project_banner a#projectTwo{
  display: block;
  width:100%;
  height:100%;
  background-image:url(../../scenes/Home/Pandemic.png);

}
