#project_banner a{
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}


#project_banner a#projectOne{
  display: block;
  width:500px;
  height:100px;
  background-image:url(../../scenes/Home/CageShopper.png);
}

#project_banner a#projectTwo{
  display: block;
  width:500px;
  height:100px;
  background-image:url(../../scenes/Home/Pandemic.png);
}
