body{
  font-family: Sintony,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif,"メイリオ",Meiryo !important;
  color: white;
}

.description{
  padding:1rem;
}

@media only screen and (max-width: 1200px) {
  html{
    font-size: 12px;
  }
    }


/* anything below iphone 6/7/8 plus size */
@media only screen and (max-width: 414px) {
  html{
    font-size: 12px;
  }
    }


    /* anything below galaxy s9/+ size */
@media only screen and (max-width: 360px) {
  html{
    font-size: 10px;
  }
    }
